* {
  margin: 0;
}

*:not(.menu) {
  padding: 0;
}

body {
  color: #888;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

button,
button:hover,
a {
  color: #888;
}

.container {
  width: 100%;
  height: 100%;
}

.header {
  width: 100%;
  height: 319px;

  background: #707070 0% 0% no-repeat padding-box;
  color: #fff;
  text-align: center;
}

.subheader {
  padding-top: 69px;
  height: 23px;

  font-size: 20/24px;
}

.title {
  font-size: 40px;
  font-weight: bold;
}

.subheader2 {
  padding-top: 24px;
  font-size: 14px;
}

.menu {
  align-items: center;
  justify-content: center;
  padding-top: 50px;
}

.menu ul {
  display: flex;
  justify-content: center;
  align-items: center;

  text-align: center;
  list-style: none;
}

.menu li {
  margin-right: 35px;
  width: 160px;
  height: 40px;
  line-height: 40px;

  background: #ffffff;
  box-shadow: 0px 1px 6px #00000029;
  border: 1px solid #707070;
  border-radius: 4px;
}

.menu a {
  display: inline-block;
  text-decoration: none;

  font-size: 16px;
  text-align: center;
}

/*---------------------End Header*------------------------------*/

.title-middle {
  font-size: 18px;
  font-weight: bold;
  padding: 50px;
  text-align: center;
}

.more-products {
  background-color: #fff;
  border-radius: 4px;
  border: 1px solid #707070;
  color: #888;
  font-size: 16px;
  margin: 43px auto 0px auto;
  padding: 10px 36px 10px 36px;
  text-align: center;
  width: 260px;
}

.more-products a {
  text-decoration: none;
}

.contact {
  margin-top: 164px;
}

.contact p {
  text-align: center;
}

.contact p:nth-child(1) {
  font-size: 18px;
  font-weight: bold;
}

.contact p:nth-child(2) {
  font-size: 14px;
  padding-top: 44px;
}

.contact .form {
  align-items: center;
  display: flex;
  justify-content: center;
}

.contact .group {
  padding-top: 39px;
  float: left;
  margin-right: 40px;
}

.contact label {
  display: inline-block;
  padding-bottom: 7px;
}

.contact input[type="text"],
.contact input[type="email"] {
  height: 30px;
  width: 340px;

  background: #ffffff 0% 0% no-repeat padding-box;
  border: 1px solid #707070;
}

.contact .enviar {
  align-items: center;
  display: flex;
  justify-content: center;
}

.contact input[type="button"] {
  color: #888;
  font-size: 18px;
}
